*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  padding: 129px 4px 133px 0px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 26px;
}

.result {
  padding-top: 84px;
  min-width: 714px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
}

.result__video-container {
  margin-bottom: 16px;
  height: 386px;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  width: 401px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.result__video-container,
.content__list {
  position: relative;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 23px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 1px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description-container {
  padding-top: 5px;
}

.search-form__fieldset {
  border: none;
  min-width: 212px;
}

.search-form__checkbox-list {
  width: fit-content;
  display: flex;
  gap: 15px;
  margin: 0 auto;
  padding-left: 22px;
}

.search-form__textfield {
  color: #fff;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  min-width: 225px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.title-two {
  padding-left: 17px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button {
  border: none;
  color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 6px 73.5px 6px 73.5px;
  border: #fff 1px solid;
  margin-left: 17px;
}

.more-button {
  padding: 6px 146.5px 6px 146.5px;
  border: #fff 1px solid;
  white-space: nowrap;
}

.content__card-link_current {
  background-color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked ~ .search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  background-color: #fff;
  border: 1px black solid;
  width: 16px;
  height: 16px;
  margin: 0.4px 0 2.3px 0;
}

.search-form__textfield:focus {
  outline: none;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  border: #fff 1px solid;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
}

.button:focus {
  outline: solid 1px #ffffff;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link_current:active {
  background-color: #545050;
}
